{% extends 'evelyhone/layout.html' %}

{% block body %}
   <div class="main">
    {% load static %}
    <img src="{% static './assets/img/background.jpg'%}" alt="">
    <div class="cover"><h1>WELCOME TO EVELYN HONE VOTING SITE</h1>
     <nav>
         <ul>
             <li><a href="{% url 'Rcandidate'%}"><button>REGISTER AS CANDIDATE</button></a></li>
             <li><a href="{% url 'Dcandidate'%}"><button>VIEW CANDIDATE</button></a></li>
             <li><a href="{% url 'Rvoter'%}"><button>REGISTER AS VOTER</button></a></li>
             <li><a href=""><button>LOGIN</button></a></li>
 
         </ul>
     </nav></div>
     
      
   </div>
 

{% endblock %}